<ion-header>
  <ion-toolbar>
    <ion-title>Raid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Pokemon to Raid</ion-list-header>
    <ion-item>
      <ion-label>Pokemon</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="pokemon">
        <ion-select-option value="rayquaza">Rayquaza</ion-select-option>
        <ion-select-option value="mewtwo">Mewtwo</ion-select-option>
        <ion-select-option value="uxie">Uxie</ion-select-option>
        <ion-select-option value="mesprit">Mesprit</ion-select-option>
        <ion-select-option value="azelf">Azelf</ion-select-option>
        <ion-select-option value="raikou">Raikou</ion-select-option>
        <ion-select-option value="entei">Entei</ion-select-option>
        <ion-select-option value="suicune">Suicune</ion-select-option>
        <ion-select-option value="dragonite">Dragonite</ion-select-option>
        <ion-select-option value="granbull">Granbull</ion-select-option>
        <ion-select-option value="lapras">Lapras</ion-select-option>
        <ion-select-option value="MAROWAK_ALOLA_FORM">Marowak - Alola</ion-select-option>
        <ion-select-option value="togetic">Togetic</ion-select-option>
        <ion-select-option value="tyranitar">Tyranitar</ion-select-option>

        <ion-select-option value="GIRATINA">Giratina</ion-select-option>
        <ion-select-option value="GIRATINA_ORIGIN_FORM">Giratina Origin</ion-select-option>

        <ion-select-option value="COBALION">Cobalion</ion-select-option>
        <ion-select-option value="TERRAKION">Terrakion</ion-select-option>
        <ion-select-option value="VIRIZION">Virizion</ion-select-option>
        <ion-select-option value="KELDEO_RESOLUTE_FORM">Keldeo Resolute</ion-select-option>
        <ion-select-option value="KELDEO">Keldeo</ion-select-option>

        <ion-select-option value="THUNDURUS">Thundurus</ion-select-option>
        <ion-select-option value="THUNDURUS_THERIAN_FORM">Thundurus Therian</ion-select-option>
        <ion-select-option value="TORNADUS">Tornadus</ion-select-option>
        <ion-select-option value="TORNADUS_THERIAN_FORM">Tornadus Therian</ion-select-option>
        <ion-select-option value="LANDORUS">Landorus</ion-select-option>
        <ion-select-option value="LANDORUS_THERIAN_FORM">Landorus Therian</ion-select-option>


        <ion-select-option value="RESHIRAM">Reshiram</ion-select-option>
        <ion-select-option value="ZEKROM">Zekrom</ion-select-option>
        <ion-select-option value="KYUREM">Kyurem</ion-select-option>
        <ion-select-option value="KYUREM_WHITE_FORM">Kyurem White</ion-select-option>
        <ion-select-option value="KYUREM_BLACK_FORM">Kyurem Black</ion-select-option>

        <ion-select-option value="MELOETTA_PIROUETTE_FORM">Meloetta Pirouette</ion-select-option>
        <ion-select-option value="MELOETTA_ARIA_FORM">Meloetta Aria</ion-select-option>
        <ion-select-option value="GENESECT">Genesect</ion-select-option>
        <ion-select-option value="SHAYMIN">Shaymin</ion-select-option>
        <ion-select-option value="SHAYMIN_SKY_FORM">Shaymin Sky</ion-select-option>

        <ion-select-option value="GENGAR">Gengar</ion-select-option>
        <ion-select-option value="TOGETIC">Togetic</ion-select-option>
        <ion-select-option value="HOUNDOOM">Houndoom</ion-select-option>
        <ion-select-option value="ABSOL">Absol</ion-select-option>
        <ion-select-option value="MACHAMP">Machamp</ion-select-option>
        <ion-select-option value="RAICHU_ALOLA_FORM">Raichu Alola</ion-select-option>

        <ion-select-option value="HO_OH">Ho-Oh</ion-select-option>
        <ion-select-option value="LUGIA">Lugia</ion-select-option>
        <ion-select-option value="HEATRAN">Heatran</ion-select-option>
        <ion-select-option value="GROUDON">Groudon</ion-select-option>
        <ion-select-option value="KYOGRE">Kyogre</ion-select-option>
        <ion-select-option value="LATIOS">Latias</ion-select-option>
        <ion-select-option value="LATIAS">Latios</ion-select-option>

        <ion-select-option value="MOLTRES">Moltres</ion-select-option>
        <ion-select-option value="ZAPDOS">Zapdos</ion-select-option>
        <ion-select-option value="ARTICUNO">Articuno</ion-select-option>
        <ion-select-option value="PALKIA">Palkia</ion-select-option>
        <ion-select-option value="Dialga">Dialga</ion-select-option>
        <ion-select-option value="CRESSELIA">Cresselia</ion-select-option>
        <ion-select-option value="DARKRAI">Darkrai</ion-select-option>
        <ion-select-option value="REGIGIGAS">Regigigas</ion-select-option>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Raid level</ion-label>

      <ion-select placeholder="Select One" [(ngModel)]="level">
        <ion-select-option value="5">5</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label>Weather</ion-label>
      <ion-select [(ngModel)]="weather" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="NO_WEATHER">Extreme</ion-select-option>
        <ion-select-option value="CLEAR">Sunny/Clear</ion-select-option>
        <ion-select-option value="RAINY">Rainy</ion-select-option>
        <ion-select-option value="PARTLY_CLOUDY">Partly Cloudy</ion-select-option>
        <ion-select-option value="OVERCAST">Cloudy</ion-select-option>
        <ion-select-option value="WINDY">Windy</ion-select-option>
        <ion-select-option value="SNOW">Snow</ion-select-option>
        <ion-select-option value="FOG">Fog</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Friendship level</ion-label>
      <ion-select [(ngModel)]="friendship" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="0">0</ion-select-option>
      </ion-select>
    </ion-item>


  </ion-list>
  <section>
    <ion-button expand="block" (click)="toResults()">Run</ion-button>
  </section>
</ion-content>
